.off{
    text-decoration: line-through;
}
.off1{
    font-size:20px;
    color: #ffcc00;
}
.off2{
    color: red;
}
.image1{
    object-fit: cover;
    padding: .5rem;
    overflow: hidden;
}
/* .image1:hover{
transform: scale(1.1);
} */
 .image1{
    object-fit: cover;
 }
.card-img-top:hover{
transform: scale(1.2);
}
.card-img-top{
    transition: 0.5s;
    object-fit: cover;
}
.btn{
    text-decoration: none;
    border-color: black; /* Ensure no border is set */
    background: none; /* Remove any background styling */
}

.btn:hover {
    text-decoration: none; /* Remove underline on hover */
}